.navbar{
    display: flex;
    justify-content: space-around;
    background-color:rgb(6, 160, 231);
}
.element{
    list-style:none;
    font-size: xx-large;
}
.link{
    text-decoration: underline;
}